@model AutoparkWebEF.Models.OrderItemViewModel
@inject AutoparkWebEF.BLL.Interfaces.IService<OrderDto> orders
@inject AutoparkWebEF.BLL.Interfaces.IService<SparePartDto> parts
@{
    ViewData["Title"] = "Create order items";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-body">
                <form asp-action="CreateOrderItem" asp-controller="OrderItemViewModel">
                    <div>
                        <div class="form-group">
                            <label asp-for="OrderId"></label>
                            <div>
                                <select name="OrderId" class="form-control">
                                    @foreach (var o in await orders.GetAll())
                                    {
                                        <option value="@o.Id">@o.Id</option>
                                    }
                                </select>
                            </div>
                            <p>@Html.ValidationMessageFor(m => m.OrderId)</p>
                        </div>
                        <div class="form-group">
                            <label>Spare part</label>
                            <div>
                                <select name="DetailId" class="form-control">
                                    @foreach (var p in await parts.GetAll())
                                    {
                                        <option value="@p.Id">@p.Name</option>
                                    }
                                </select>
                            </div>
                            <p>@Html.ValidationMessageFor(m => m.DetailId)</p>
                        </div>
                        <div class="form-group">
                            <label>Count</label>
                            <input type="number" asp-for="DetailCount" class="form-control" />
                            <p>@Html.ValidationMessageFor(m => m.DetailCount)</p>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-outline-info" />
                        </div>
                    </div>
                </form>

                <div>
                    <a class="btn btn-outline-info" role="button" asp-controller="OrderItemViewModel" asp-action="ViewOrderItems">Back to list of order items</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <table class="table table-bordered table-sm table align-middle">
                    <caption>List of orders</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">Id</th>
                            <th scope="col" class="text-center">Vehicle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var o in await orders.GetAll())
                        {
                            <tr>
                                <td align="center">@o.Id</td>
                                <td align="center">@o.Vehicle.ModelName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


