@model AutoparkWebEF.Models.VehicleViewModel
@{
    ViewData["Title"] = "Delete vehicle";
}
<h2>@ViewBag.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>
            @Model.Id
        </dd>

        <dt>Type</dt>
        <dd>
            @Model.TypeName
        </dd>

        <dt>Model Name</dt>
        <dd>
            @Model.ModelName
        </dd>

        <dt>Registration Number</dt>
        <dd>
            @Model.RegistrationNumber
        </dd>

        <dt>Weight</dt>
        <dd>
            @Model.Weight
        </dd>

        <dt>Manufacture Year</dt>
        <dd>
            @Model.ManufactureYear
        </dd>

        <dt>Mileage</dt>
        <dd>
            @Model.Mileage
        </dd>

        <dt>Tank Volume</dt>
        <dd>
            @Model.TankVolume
        </dd>

        <dt>Color</dt>
        <dd>
            @Model.Color
        </dd>

        <dt>Engine</dt>
        <dd>
            @Model.Engine
        </dd>
    </dl>

    <div>
        <form asp-controller="VehicleViewModel" asp-action="DeleteVehicle" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-outline-info" value="Delete" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-outline-info" role="button" asp-controller="VehicleViewModel" asp-action="ViewVehicles">Back to list of vehicles</a>
</div>
