@model AutoparkWebEF.Models.VehicleViewModel
@inject AutoparkWebEF.BLL.Interfaces.IService<VehicleTypeDto> type

@{
    ViewData["Title"] = "Edit vehicle";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="EditVehicle" asp-controller="VehicleViewModel">
    <div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="TypeId">Type</label>
            <div>
                <select name="TypeId" class="form-control" asp-for="TypeId">
                    @foreach (var t in await type.GetAll())
                    {
                        <option value="@t.Id">@t.TypeName</option>
                    }
                </select>
                <p>@Html.ValidationMessageFor(m => m.TypeId)</p>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ModelName"></label>
            <input type="text" asp-for="ModelName" class="form-control" />
            <p>@Html.ValidationMessageFor(m => m.ModelName)</p>
        </div>

        <div class="form-group">
            <label asp-for="RegistrationNumber"></label>
            <input type="text" asp-for="RegistrationNumber" class="form-control" />
            <p>@Html.ValidationMessageFor(m => m.RegistrationNumber)</p>
        </div>

        <div class="form-group">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" class="form-control" />
            <p>@Html.ValidationMessageFor(m => m.Weight)</p>
        </div>

        <div class="form-group">
            <label asp-for="ManufactureYear"></label>
            <input type="number" asp-for="ManufactureYear" class="form-control" />
            <p>@Html.ValidationMessageFor(m => m.ManufactureYear)</p>
        </div>

        <div class="form-group">
            <label asp-for="Mileage"></label>
            <input asp-for="Mileage" class="form-control" />
            <p>@Html.ValidationMessageFor(m => m.Mileage)</p>
        </div>

        <div class="form-group">
            <label asp-for="TankVolume"></label>
            <input asp-for="TankVolume" class="form-control" />
            <p>@Html.ValidationMessageFor(m => m.TankVolume)</p>
        </div>

        <div class="form-group">
            <label asp-for="Color"></label>
            <input type="text" asp-for="Color" class="form-control" />
            <p>@Html.ValidationMessageFor(m => m.Color)</p>
        </div>

        <div class="form-group">
            <div>
                <label asp-for="Engine"></label>
                <select name="Engine" class="form-control" asp-for="Engine">
                    @{var engineList = Enum.GetValues(typeof(EngineNames));}
                    @for (int i = 0; i < engineList.Length; i++)
                    {
                        <option>@engineList.GetValue(i)</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-outline-info" />
        </div>
    </div>
</form>

<div>
    <a class="btn btn-outline-info" role="button" asp-controller="VehicleViewModel" asp-action="ViewVehicles">Back to list of vehicles</a>
</div>
